.Rproj.user
.Rhistory
.RData
.Ruserdata
metaprobes_BeringSea2024.Rproj
fastq
MIDORI2_UNIQ_NUC_GB267_srRNA_BLAST_db
MIDORI2_UNIQ_NUC_GB267_srRNA_BLAST.fasta.zip
MIDORI2_UNIQ_NUC_GB267_srRNA_BLAST.fasta
.DS_Store
